#create-class-form {
    display: flex;
    flex-direction: column;
    max-width: 66vw;
    margin: 0 auto;
    padding: 5rem 0rem;
}
body {
    margin: 1rem auto;
}
header {
    padding: 1rem 1.5rem;
}
img {
    max-width: 168px;
    max-height: 84px;
}

.login-wrapper {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 66vw;
    margin: 0 auto;
    padding: 4rem 2rem;
}
#login-page {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#login-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    max-width: 100%;
}
.input-1 > input, .input-2 > input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
}
.input-1, .input-2 {
    width: 100%;
}

#login-form > input[type="submit"] {
    align-self: flex-start;
    width: 100%;
    padding: 1rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
}